header{
    background:#2c3e50;
    color:#fff;
}

.main{
    background: #f2f2f2;
}
.color1{
    background: #e6ecf3;
}

aside{
    background: white;
    color: red;
}

.verde{
    background: greenyellow;
    height: 80px;
    
}

.fucsia{
    background: fuchsia;
    height: 80px;
}

.fondomenu{
    background-image:url("imagenes/banner_vertical.jpg");
    background-size: cover;
    color: #f2f2f2;
    font-style: italic;
}

.tabla {
    background-image:url("imagenes/Registro.jpg");
    background-size: cover;
    color:black;
    font-style: italic;
}

body { 
    padding: 10px 10px 0 10px;
    background-color: #f8f8f8;
}

input {
    padding: 5px;
    width: 240px;
    max-width: 100%;
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 25%;
    font-style: initial;
}

.naranja{
    background: orange;
    height: 80px;
}

.azul{
    background:blue;
    height: 80px;
}

div[class^='col-']{
    border: 5px solid white;
}

/* Esto establece el diseño de los párrafos de las cajas */
.box1 p, .box2 p, .box3 p, .box4 p, .box5 p, .box6 p{
    background-image: url("imagenes/sales.jpg");
    background-size: cover;  
    margin: 15px;
    color: #080813;
}
 /*En este selector especificamos el ancho, alto, bordes, posición, color de fondo, color y dimensiones de la sombra */
.box1{
    width: 250px;
    margin: 30px;
    min-height: 200px;
    position:relative;
    display: inline-block;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
    border: 0px solid #ccc;
    -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-bottom-right-radius: 8px 60px;
    min-height: 200; 
}
.box1:before{
    content: '';
    width: 50px;
    height: 500px;
    position:absolute;
    bottom:0; right:0;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
    z-index:-1;
    -webkit-transform: translate(-35px,-40px)
    skew(0deg,30deg)
    rotate(-25deg);
}
.box1:after{
    content: '';
    width: 100px;
    height: 100px;
    top:0; left:0;
    position:absolute;
    display: inline-block;
    z-index:-1;
    -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(2deg)
    translate(20px,25px)
    skew(20deg);
}
.box2{
   width: 250px;
   margin: 30px;
   min-height: 200px;
   position:relative;
   display: inline-block;
   background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
   border: 0px solid #ccc;
   -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1) inset;
   -webkit-border-bottom-right-radius: 8px 60px;
   min-height: 200; 
}
.box2:before{
   content: '';
   width: 50px;
   height: 500px;
   position:absolute;
   bottom:0; right:0;
   -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
   z-index:-1;
   -webkit-transform: translate(-35px,-40px)
   skew(0deg,30deg)
   rotate(-25deg);
}
.box2:after{
   content: '';
   width: 100px;
   height: 100px;
   top:0; left:0;
   position:absolute;
   display: inline-block;
   z-index:-1;
   -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
   -webkit-transform: rotate(2deg)
   translate(20px,25px)
   skew(20deg);
}
.box3{
   width: 250px;
   margin: 30px;
   min-height: 200px;
   position:relative;
   display: inline-block;
   background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
   border: 0px solid #ccc;
   -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1) inset;
   -webkit-border-bottom-right-radius: 8px 60px;
   min-height: 200; 
}
.box3:before{
   content: '';
   width: 50px;
   height: 500px;
   position:absolute;
   bottom:0; right:0;
   -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
   z-index:-1;
   -webkit-transform: translate(-35px,-40px)
   skew(0deg,30deg)
   rotate(-25deg);
}
.box3:after{
   content: '';
   width: 100px;
   height: 100px;
   top:0; left:0;
   position:absolute;
   display: inline-block;
   z-index:-1;
   -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
   -webkit-transform: rotate(2deg)
   translate(20px,25px)
   skew(20deg);
}
.box4{
   width: 250px;
   margin: 30px;
   min-height: 200px;
   position:relative;
   display: inline-block;
   background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
   border: 0px solid #ccc;
   -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1) inset;
   -webkit-border-bottom-right-radius: 8px 60px;
   min-height: 200; 
}
.box4:before{
   content: '';
   width: 50px;
   height: 500px;
   position:absolute;
   bottom:0; right:0;
   -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
   z-index:-1;
   -webkit-transform: translate(-35px,-40px)
   skew(0deg,30deg)
   rotate(-25deg);
}
.box4:after{
   content: '';
   width: 100px;
   height: 100px;
   top:0; left:0;
   position:absolute;
   display: inline-block;
   z-index:-1;
   -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
   -webkit-transform: rotate(2deg)
   translate(20px,25px)
   skew(20deg);
}
.box5{
   width: 250px;
   margin: 30px;
   min-height: 200px;
   position:relative;
   display: inline-block;
   background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
   border: 0px solid #ccc;
   -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1) inset;
   -webkit-border-bottom-right-radius: 8px 60px;
   min-height: 200; 
}
.box5:before{
   content: '';
   width: 50px;
   height: 500px;
   position:absolute;
   bottom:0; right:0;
   -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
   z-index:-1;
   -webkit-transform: translate(-35px,-40px)
   skew(0deg,30deg)
   rotate(-25deg);
}
.box5:after{
   content: '';
   width: 100px;
   height: 100px;
   top:0; left:0;
   position:absolute;
   display: inline-block;
   z-index:-1;
   -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
   -webkit-transform: rotate(2deg)
   translate(20px,25px)
   skew(20deg);
}

.box6{
   width: 250px;
   margin: 30px;
   min-height: 200px;
   position:relative;
   display: inline-block;
   background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.1,#f3f3f3));
   border: 0px solid #ccc;
   -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1) inset;
   -webkit-border-bottom-right-radius: 8px 60px;
   min-height: 200; 
}
.box6:before{
   content: '';
   width: 50px;
   height: 500px;
   position:absolute;
   bottom:0; right:0;
   -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.1);
   z-index:-1;
   -webkit-transform: translate(-35px,-40px)
   skew(0deg,30deg)
   rotate(-25deg);
}
.box6:after{
   content: '';
   width: 100px;
   height: 100px;
   top:0; left:0;
   position:absolute;
   display: inline-block;
   z-index:-1;
   -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
   -webkit-transform: rotate(2deg)
   translate(20px,25px)
   skew(20deg);
}

/* En esta pseudoclase especificamos el diseño que va antes de la clase box1, en este caso es la sombra colocada en la parte inferior*/
/*de este cuadro, aquí es donde determinamos las medidas, la rotación y el sesgo del sombra team */
/* Antes*/
.box1:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:1%; right:2%;
}
.box2:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:1%; right:2%;
}
.box3:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:1%; right:2%;
}    
.box4:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:1%; right:2%;
}  
.box5:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:1%; right:2%;
}    
.box6:before{
    content: '';
    width: 50px;
    height: 100px;
    position:absolute;
    bottom:1%; right:2%;
}      
/*Despues*/
.box1:after{
    content: '';
    width: 100px;
    height: 100px;
    top:1; left:1;
    position:absolute;
    display: inline-block;
    z-index:-1;
}
.box2:after{
    content: '';
    width: 100px;
    height: 100px;
    top:1; left:1;
    position:absolute;
    display: inline-block;
    z-index:-1;
}
.box3:after{
    content: '';
    width: 100px;
    height: 100px;
    top:1; left:1;
    position:absolute;
    display: inline-block;
    z-index:-1;
}
.box4:after{
    content: '';
    width: 100px;
    height: 100px;
    top:1; left:1;
    position:absolute;
    display: inline-block;
    z-index:-1;
}
.box5:after{
    content: '';
    width: 100px;
    height: 100px;
    top:1; left:1;
    position:absolute;
    display: inline-block;
    z-index:-1;
}
.box6:after{
    content: '';
    width: 100px;
    height: 100px;
    top:1; left:1;
    position:absolute;
    display: inline-block;
    z-index:-1;
}